Source: pulseaudio-dlna
Maintainer: Massimo Mund <mo@lancode.de>
Section: python
Priority: optional
Build-Depends: python-all,
               python-dev,
               python-pip,
               python-setuptools,
               python-dbus,
               python-virtualenv | virtualenv,
               git-core,
               ca-certificates,
               debhelper (>=9),
               help2man,
Standards-Version: 3.9.5

Package: pulseaudio-dlna
Architecture: all
Depends: python2.7,
         python-dbus (>=1.2.0),
         python-setuptools (>=3.3),
         python-docopt (>=0.6.1),
         python-requests (>=2.2.1),
         python-setproctitle (>=1.0.1),
         python-gi (>=3.12.0),
         python-protobuf (>=2.5.0),
         python-notify2 (>=0.3),
         python-psutil (>=1.2.1),
         python-concurrent.futures (>=2.1.6),
         python-chardet (>=2.0.1),
         python-pyroute2 (>=0.3.5) | python-netaddr (>=0.7.18),
         python-netifaces (>=0.8),
         python-lxml (>=3.0),
         python-zeroconf (>=0.17.4),
         vorbis-tools (>=1.4.0),
         sox (>=14.4.1),
         lame (>=3.99.0),
         flac (>=1.3.0),
         faac (>=1.28),
         opus-tools (>=0.1.8),
         ${misc:Depends}
Suggests: python-cairo (>=1.8.8),
          gir1.2-rsvg-2.0 (>=2.32.0),
          gir1.2-gtk-3.0 (>=3.18.0),
          ffmpeg (>=2.5.10),
          libav-tools (>=9.18),
Homepage: https://github.com/masmu/pulseaudio-dlna
Description: Stream audio to DLNA devices and Chromecasts
 Creates Pulseaudio sinks for DLNA devices or Chromecasts in your network
 and streams the current playback to those.
 .
 It's main goals are:
 easy to use, no configuration hassle, no big dependencies.
